#download-button {
    padding:10px;
    color:black;
    background-color:cyan;
    display:inline;
    border-radius:3px;
    border: 1px solid grey;
    position: absolute;
    right: 10px;
    top: 10px;
}

#download-button:hover {
    cursor: pointer;
    border: 1px solid #FCB040;
}

#drop-box {
    margin: 10px;
    height: 560px; 
    border: 5px dotted #ccc;
    border-radius: 10px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: grey;
}

.htButton {
    padding:10px;
    color:black;
    background-color:cyan;
    border-radius:3px;
    border: 1px solid grey;
    position: relative;
    width: 25%;
    margin: 10px;
    display: inline-block;
}

.htButton:hover {
    cursor: pointer;
    border: 1px solid #FCB040;
}

.header {
    background-color: darkgrey;
    margin: 5px
}

body {
    margin: 0px !important;
    margin-bottom: 10px !important;
    padding: 0px;
}

#version {
    float:right;
    margin-right: 10px;
}